## Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

```

In [18]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]  

temp_dict = {} 

for tup in test_list: 
    if tup[0] in temp_dict: 
        temp_dict[tup[0]] += tup[1 : ]
    else: 
        temp_dict[tup[0]] = list(tup)

result_list = list(temp_dict.values())
result_list = [tuple(L) for L in result_list]
result_list

[(5, 6, 7, 8), (6, 10), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [11]:
t = (1, 5, 7, 8, 10)

temp_list = []
for i in range(len(t)): 
    if i == 0: 
        temp_list.append(t[i] * t[i + 1])
    elif i == len(t) - 1: 
        temp_list.append(t[i - 1] * t[i])
    else:
        temp_list.append(t[i - 1] * t[i] + t[i] * t[i + 1])
# print(temp_list) 
result = tuple(temp_list)
print(result)

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same

```

In [13]:
t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

for i in range(len(t1)): 
    if t1[i] != t2[i]: 
        print('t1 and t2 are not same.')
        break
else: 
    print('t1 and t2 are same.')

t1 and t2 are not same.

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [24]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']] 

Lists = 0
sets = 0
Tuples = 0
for item in list1:
    if type(item) == set:
        sets += 1
    elif type(item) == list:
        Lists += 1
    elif type(item) == tuple:
        Tuples += 1
print('Lists-{}'.format(Lists))
print('Sets-{}'.format(sets)) 
print('Tuples-{}'.format(Tuples))

Lists-2
Sets-2
Tuples-1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022

```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')

```

In [112]:
record_num = int(input('Enter No of records - '))

list_record = []

i = 1
while i <= record_num:
    print('Enter Details of student - {}'.format(i))
    name = input('Enter Student name - ')
    higher_education = input('Enter Higher Education - ')
    primary_skills = input('Enter Primary Skill - ')
    year_of_grad = input('Enter Year of Graduation - ')

    temp_list = tuple((name, higher_education, primary_skills, year_of_grad))
    list_record.append(temp_list)
    i += 1

# print(list_record)

print('**** Enter Job Role Requirement ****')
skill = input('Enter Skill - ')
req_higher_education = input('Enter Higher Education - ')
year_of_completion = input('Enter Year of Graduation - ')    

result = []

for student in list_record: 
    if higher_education == req_higher_education and primary_skills == skill and year_of_grad == year_of_completion: 
        result.append(student)
if len(result) == 0: 
    print('No such candidate')
else: 
    print(result)

Enter No of records -  2

Enter Details of student - 1

Enter Student name -  Manhor
Enter Higher Education -  BTech
Enter Primary Skill -  Python
Enter Year of Graduation -  2023

Enter Details of student - 2

Enter Student name -  Jack
Enter Higher Education -  BTech
Enter Primary Skill -  Python
Enter Year of Graduation -  2023

**** Enter Job Role Requirement ****

Enter Skill -  Python
Enter Higher Education -  BTech
Enter Year of Graduation -  2023

[('Manhor', 'BTech', 'Python', '2023'), ('Jack', 'BTech', 'Python', '2023')]

## Sets.

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]

```

In [24]:
arr1 = [1, 5, 10, 20, 40, 80]
arr2 = [6, 7, 20, 80, 100]
arr3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1 = set(arr1)
s2 = set(arr2) 
s3 = set(arr3)

new_set = s1.intersection(s2) 
new_set = new_set.intersection(s3)
print(new_set)

{80, 20}

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [33]:
# a, e, i, o, u, A, E, I, O, U 

str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX" 

vowel_list = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

resultent_set = set() 
for char in str1: 
    if char in vowel_list: 
        resultent_set.add(char)
print(resultent_set)
print('No of unique vowels -', len(resultent_set))

{'A', 'o', 'e', 'i', 'u', 'a'}
No of unique vowels - 6

### `Q3:` Write a program to Check if a given string is binary string of or not. 

A string is said to be binary if it's consists of only two unique characters.

Take string input from user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [36]:
input_string = input('Enter the string : ')

temp_set = set() 
for char in input_string: 
    temp_set.add(char)
    if len(temp_set) > 2: 
        print('NO')
        break
else: 
    print('YES')

Enter the string :  Campusx

NO

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]

```

In [44]:
n_array = [
            [1, 2, 2, 4, 3, 6],
            [5, 1, 3, 4],
            [9, 5, 7, 1],
            [2, 4, 1, 3]
        ]

union_array = set(n_array[0])
for i in range(1, len(n_array)): 
    set1 = set(n_array[i])

    union_array = union_array.union(set1)
print(list(union_array))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

```

Output:
```bash
[9, 10, 4, 5]

```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

```

Output:
```bash
[9, 11, 26, 28]

```

In [47]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}


new_list = [number1 for number2 in lst2 for number1 in lst1 if number1 == number2]
print(new_list)

[9, 11, 26, 28]

## Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [66]:
test_dict = {
                "CampusX" : [5, 7, 9, 4, 0], 
                "is" : [6, 7, 4, 3, 3], 
                "Best" : [9, 9, 6, 5, 5]
            }

# test_dict = {
#                 "CampusX" : [5, 7, 7, 7, 7], 
#                 "is" : [6, 7, 7, 7], 
#                 "Best" : [9, 9, 6, 5, 5]
#             }

temp_dict = {}
for key, value in test_dict.items(): 
    Set = set() 
    for num in value:
        Set.add(num)
    temp_dict[key] = len(Set)

# print(temp_dict)
max_unique_number = 0 
max_unique_key = None 

for key, value in temp_dict.items(): 
    if value > max_unique_number: 
        max_unique_number = value
        max_unique_key = key 
print(max_unique_key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

```

Output:

```bash
CampusX is the best channel for Data-Science students.

```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}

```

Output:
```bash
CampusX best for DS students.

```

In [74]:
# test_str = 'CampusX best for DS students.'

# repl_dict = {
#                 "best" : "is the best channel", 
#                 "DS" : "Data-Science"
#             } 

test_str = 'CampusX best for DS students.'

repl_dict = {
                "good" : "is the best channel", 
                "ds" : "Data-Science"
            }


result = ''
word_list = test_str.split(' ')
for word in word_list: 
    if word in repl_dict: 
        result = result + ' ' +repl_dict[word]
    else: 
        result = result + ' ' + word

print(result)

 CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]

```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [103]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"] 

size = len(key_list)

result = [] 
for i in range(0, len(test_list), size): 
    chunks = test_list[i : i + size]
    # print(dict(zip(key_list, chunks)))
    result.append(dict(zip(key_list, chunks)))    

print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]

```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}

```

In [87]:
my_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

my_dict = {}
for tup in my_list: 
    my_dict[tup[0]] = [tup[1]] 

print(my_dict)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [95]:
test_dict = {
                'c': [3], 
                'b': [12, 10], 
                'a': [19, 4]
            }

# test_dict = {'c': [10, 34, 3]} 

sorted_keys = sorted(test_dict)

result_dict = {}
for key in sorted_keys: 
    value = test_dict[key] 
    result_dict[key] = value

print(result_dict)

{'a': [19, 4], 'b': [12, 10], 'c': [3]}